<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
   <!--<listener>-->
       <!--<listener-class>com.cn.FirstListener</listener-class>-->
   <!--</listener>-->
    <context-param>
        <param-name>canshu</param-name>
        <param-value>typ</param-value>
    </context-param>
    <listener>
        <listener-class>com.cn.MyHttpSessionListener</listener-class>
    </listener>
    <session-config>
        <!--session销毁时间 单位:分钟-->
        <session-timeout>0</session-timeout>
    </session-config>

</web-app>